*{
    margin: 0;
    padding: 0;
  }
body {
    font-family: sans-serif;
    color: #222;
  }

  .d1{
    margin: 30px 0px 50px;
    text-align: center;
    color:green;
  }

  .d2{
    text-decoration: underline;
    margin:0px 0px 20px 10px;
    color:blue;
  }

  .d3{
    font-weight:bold ;
    margin:0px 0px 40px 10px;
  }

  .title{
    background-color: pink;
    color:#FF6699;
    text-align: center;
    font-size: 30px;
  }

  .content{
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    line-height: 25px;
    font-style: italic;
  }

  #content1{
    color:blue;
    padding: 30px;
    margin-top: 30px;
   
  
  }

  #content2{
    color: #993333;
    padding: 30px;
  }

  #content3{
    color: green;
    padding: 30px;
  
  }

  .line{
    width: 15%;
    height: 2px;
    margin: auto;
    background-color: black;
  }